@import 'variables';

@media(max-width: 768px) {
    .profil_container {
        
        &_update {
            flex-direction: column;
            align-items: center;
            &_photobox {
                width: 95% !important;
                &_photo {
                    height: 15rem !important;
                    border-radius: 10rem !important;
                }
            }
            &_infos {
                width: 95% !important;
                margin-top: 40px;
            }
        }
        &_footer {
            align-items: flex-end;
            width: 100%;
            &_btn {
                width: 40% !important;
                margin-top: 15px !important;
            }
        }
    }

    .updateprofil_title {
        margin-top: 0 !important;
        margin-bottom: 40px !important;
    }

    .separateBox {
        margin-top: 60px !important;
        border-top: 1px solid rgba(65, 65, 65, 0.3);
        width: 100%;
        z-index: 3;
    }
}

// Update photo/infos
.profil_container {
    width: 80%;
    min-width: 250px;
    max-width: 950px;
    margin: auto;
    margin-bottom: 40px !important;
    margin-top: 120px !important;
    z-index: 10;

        &_header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            
            &_title {
                margin-top: 0;
                margin-bottom: 30px;
                font-size: 25px;
            }

            &_icon {
                font-size: 25px;
            }
        }

        &_update {
            border-top: 1px solid rgba(65, 65, 65, 0.3);
            padding-top: 15px;
            width: 100%;
            display: flex;
            justify-content: space-around;

            &_title {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 30px;
                font-size: 24px;
            }

            &_photobox {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 40%;
                &_photo {
                    width: 15rem;
                    height: 20rem;
                    border-radius: 2rem;
                    object-fit: cover;
                    box-shadow: 0 0 16px #0000002e;
                }
            }

            &_infos {
                width: 40%;
            }
        }
    }


#file {
    margin-top: 25px;
}

.btn_update_profil {
    height: 2.2rem;
}

.separateBox {
    margin-top: -15px;
    border-left: 1px solid rgba(65, 65, 65, 0.3);
}

// DeleteProfil
.profil_container_footer {
    display: flex;
    justify-content: flex-end;
    
    &_btn {
        font-size: 12px;
        width: 25%;
        height: auto;
        margin-top: 15px;
        background-color: rgb(156, 0, 0);
        opacity: 0.5;
        transition: opacity 300ms ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}