@import 'variables';

@media(max-width: 768px) {
    .trending_container {
        width: 90% !important;
    }
}

#newpost_form {
    display: flex;
    flex-direction: column;
}

.trending_container {
    width: 60%;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    
    // CREATE POST
    &_newpost {
        display: flex;
        flex-direction: column;
        padding: 1rem !important;
        border: 1px solid rgba(65, 65, 65, 0.3);
        background-color: rgba(255, 255, 255, 0.6) !important;
        
        &_header {
            display: flex;
            align-items: center;
        }
        
        &_photobox {
            margin-right: 1rem; 
        }
        
        &_photo {
            width: 75px;
            height: 75px;
            border: 1px solid rgba(65, 65, 65, 0.3);
            border-radius: 3rem;
            object-fit: cover;
        }
        
        &_form {
            width: 100%;
            
            &_input {
                height: 1.8rem;
                margin-bottom: 5px;
                color: $text-clr;
                border: 1px solid rgb(80, 79, 79);
                border-radius: 0.3rem;
                font-size: 16px;
                background: rgba(255, 255, 255, 0);
                backdrop-filter: blur(30px);
                &:hover {
                    filter: brightness(1.2);
                }
                &:focus {
                    outline: solid $primary-clr;
                    border-color: $primary-clr;
                }
            }
        }
    }
    // READ POST
    &_post {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0 0 0 !important;
        padding: 0 !important;
        border: 1px solid rgba(65, 65, 65, 0.3);
        background-color: rgba(255, 255, 255, 0.7) !important;

        &_icons {
            position: absolute;
            right: 1rem;
            
            &_icon {
                font-size: 15px;
                color: rgba(53, 53, 53, 0.7);
                margin-left: 15px;
                cursor: pointer;
                
                &_modify {
                    &:hover {
                        color: $primary-clr;
                    }
                }
                &_delete {
                    &:hover {
                        color: $error-clr;
                    }
                }
            }
        }

        &_poster {
            display: flex;
            align-items: center;
            width: 90%;
            padding: 0.5rem 1rem;

            &_photo {
                width: 3rem;
                height: 3rem;
                border: 1px solid rgba(65, 65, 65, 0.3);
                border-radius: 2rem;
                object-fit: cover;
            }

            &_infos {
                margin-left: 10px;

                &_name {
                    margin-top: 0;
                    margin-bottom: 6px;
                    font-size: 18px;
                }

                &_date {
                    margin-top: 6px;
                    margin-bottom: 0;
                    font-size: 12px;
                    opacity: 0.7;
                }
            }
        }
        
        &_content {
            border-top: 1px solid rgba(65, 65, 65, 0.3);
            width: 100%;

            &_message {
                width: 90%;
                margin: 18px 10px 18px 20px;
            }

            &_image {
                display: flex;
                align-items: center;
                width: 95%;
                max-height: 400px;
                object-fit: cover;
                margin: 0px auto 20px auto !important;
            }
        }

        &_btn {
            background-color: transparent;
            border-top-color: rgba(65, 65, 65, 0.3);
            border-bottom-color: transparent;
            height: 2.5rem;
            color: $primary-clr;
            font-size: 20px;
            padding: 0;
            
            &_container {
                width: 100%;
            }
            
            &_like {
                width: 100%;
                border-radius: 0 0 0 0.8rem;
                border-color: transparent;
                border-top-color: rgba(65, 65, 65, 0.3);
            }
        }
    }
}

#file_newpost {
    margin-top: 0;
}

.btn_newpost {
    width: 100%;
    height: 1.8rem;
    margin-top: 0.8rem;

    &_disabled {
        opacity: 0.5;
        &:hover {
            transform: none;
            box-shadow: none;
            cursor: auto;
        }
    }
}

.posts_container {
    margin-top: 25px !important;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;
}