@import 'variables';
@import 'Login';
@import 'Navbar';
@import 'ErrorAuth';
@import 'Profil';
@import 'ConfirmModal';
@import 'Trending';


// PAGE \\
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf');
}

html {
    position: relative;
    font-family: 'Lato';
    font-size: 16px;
    color: $text-clr;
    background: url('img/groupomania-bg5.jpg') fixed no-repeat;
    background-size:cover;
    min-width: 365px;
    max-width: 2400px;
}

button {
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    color: $text-btn-clr;
    background: $primary-clr;
    border: 1px solid $text-clr;
    border-radius: 0.5rem;
    transition: transform 300ms ease-in-out;
    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 16px #0000002e;
    }
}

a {
    display: block;
    color: $text-clr;
    text-decoration: none;
}

.form_input {
    height: 1.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(80, 79, 79);
    border-radius: 0.5rem;
    font-size: 16px;
    color: $text-clr;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px);
    &:hover {
        filter: brightness(1.2);
    }
    &:focus {
        outline: solid $primary-clr;
        border-color: $primary-clr;
    }

    &_error {
        outline: solid $error-clr;
        border-color: $error-clr;
    }
}

.bold {
    font-family: 'Lato-Bold';
}

.bg_section {
    background-color: $bg-section;
    backdrop-filter: blur(10px);
    border-radius: 0.9rem;
    margin: auto;
    padding: 1.5rem;
}


// SUCCESS / ERROR \\
.success {
    color: $success-clr;
    font-size: 18px;
}

.error {
    color: $error-clr;
    margin-top: -5px;
    margin-bottom: 10px;
    &_center {
        text-align: center;
        margin-top: 5px;
    }
} 


// ICON PASSWORD \\
.container_password_input {
    position: relative;
    display: flex;
    align-items: center;
}

#icon-password {
    &-signup {
        position: absolute;
        bottom: 17px;
        right: 8px;
    }
    &-signin {
        position: absolute;
        bottom: 17px;
        right: 8px;
    }

    &-update {
        position: absolute;
        bottom: 17px;
        right: 8px;
    }
}

.icon_password {
    display: flex;
    align-content: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
    &:hover .show {
        opacity: 1;
    }
    &:hover .hidden {
        opacity: 1;
    }

    &_hidden {
        position: absolute;
        &:hover {
            opacity: 0;
        }

        &_show {
            opacity: 0;
        }
    }

    &_show {
        position: absolute;
        &:hover {
            opacity: 0;
        }
        
        &_hidden {
            opacity: 0;

        }
    }
}