@import 'variables';
@import 'Log';

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf');
}

html {
    font-family: 'Lato';
    font-size: 16px;
    background: url('img/groupomania-bg.jpg');
    background-attachment: fixed;
}

button {
    border-style: none;
    border-radius: 0.5rem;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid $tertiary-clr;
}

.bold {
    font-family: 'Lato-Bold';
}

a {
    color: $tertiary-clr;
    text-decoration: none;
}

.success {
    color: rgb(0, 130, 0);
    text-align: center;
    font-size: 22px;
}

.error {
    color: rgb(219, 19, 19);
    margin-top: 5px;
    &_center {
        text-align: center;
        margin-top: 10px;
    }
} 