@import 'variables';
@import 'Login';
@import 'Navbar';
@import 'ErrorAuth';
@import 'Profil';
@import 'ConfirmModal';

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf');
}

html {
    position: relative;
    font-family: 'Lato';
    font-size: 16px;
    color: $text-clr;
    background: url('img/groupomania-bg.jpg') fixed no-repeat;
    min-width: 365px;
    max-width: 2400px;
}

button {
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    color: $text-btn-clr;
    background: $primary-clr;
    border: 1px solid $text-clr;
    border-radius: 0.5rem;
    transition: transform 300ms ease-in-out;
    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 16px #0000002e;
    }
}

.bold {
    font-family: 'Lato-Bold';
}

a {
    display: block;
    color: $text-clr;
    text-decoration: none;
}

.bg_section {
    background-color: $bg-section;
    backdrop-filter: blur(5px);
    border-radius: 0.5rem;
    margin: auto;
    padding: 2rem;
}

.success {
    color: $success-clr;
    text-align: center;
    font-size: 22px;
}

.error {
    color: $error-clr;
    margin-top: 5px;
    &_center {
        text-align: center;
        margin-top: 10px;
    }
} 